.env
*.pdf
*/env/
*/logs/
mcqgenerator.egg-info
Regulation_Chatbot.egg-info
*__pycache__/
*db/
*learning_data/
*.zip
*/regulation_chatbot/
*llama-2-7b-chat.ggmlv3.q4_0.bin
*vscode
*github
*/data/
*llamabig/